   
@font-face {
    font-family: New;
    src: url("../Fonts/Cairo/Cairo-VariableFont_wght.ttf");
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 16px;
    margin-top: 5%;
}  


 .key-highlights{
    
     padding: 0;
 }

 .section-title h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  .section-title h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #1e386d;
    bottom: 0;
    left: calc(50% - 25px);

  }
/* For screen size more than 400px */
@media screen and (min-width: 400px) {
  body {
    background-color: lightgreen;
  }
}

/* For screen size less than 600px */
@media screen and (max-width: 600px) {
  body {
    background-color: lavender;
  }
}