/*============================= Body CSS =================================================*/
body {
  font-family: "Cairo", sans-serif;
  font-size: 40px;
  color: #14213d;
}

.card {
  padding: 15px;
}

.current {
  background-color: #e5e5e5;
}

.custom-border {
  border: 7px #14213d;
  border-radius: 12px;
  border-style: double;
  padding: 0%;
}


/* .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  font-size: 30px;
  text-align: center;
  flex-flow: row wrap;
  flex-direction: row;
} */

/* .flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */

/* .flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
} */

/* Responsive layout - makes a one column-layout instead of a two-column layout */
/* @media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  } */


/* .flex-container {
  display: flex;
  justify-content: center;
  margin: 25px;
  padding: 20px;
} */

/* .grid-container {
  display: grid;
  grid-template-columns: auto ;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
} */

/* .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */

/* .item1 {
  grid-row-start: 1;
  grid-row-end: 3;
} */