/*============================= Body CSS =================================================*/
body {
  font-family: "Cairo", sans-serif;
  color: #14213d;
}

.current {
  background-color: #e5e5e5;
}

.container {
  padding-top: 70px;
}

th, td {
  font-size: 20px;
}

.print-btn {
  width: 100px;
  height: 70px;
  text-align: center;
}

.print-btn:hover {
  background-color: rgb(236, 205, 236);
}
