@font-face {
    font-family: Nav;
    src: url("../Fonts/Cairo/Cairo-VariableFont_wght.ttf");
}

.main-body {
    /* background-image: url(../media/images/background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 3;*/


    text-align: center;
    
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    text-align: center;
    min-width: 0;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.prof_btns {
    color: #14213d;
    /* width: 100px;
    height: 70px; */
    text-align: center;
    text-decoration: none;
  }
  
  .prof_btns:hover {
    background-color: rgb(236, 205, 236);
  }





.bg-gray-300 {
    background-color: #e2e8f0;
}

.shadow-none {
    box-shadow: none !important;
}

/* @media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

} */